  {% load static %}
  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav class="nav-menu">
      <ul>
        <li class="active"><a href=""><img src="{% static 'logos/iconnobg.png' %}" alt="Logo" width="60" height="50" style="float:left"><span>Pedagogue</span></a></li>
        <li><a href="#portfolio"><i class="bx bx-book-content"></i> <span>Courses</span></a></li>
        <li><a href=""><i class="bx bx-user"></i> <span>Manage Courses</span></a></li>
        <li><a href=""><i class="bx bx-user"></i> <span>My Courses</span></a></li>
        <li><a href=""><i class="bx bx-conversation"></i> <span>Blog</span></a></li>
        <li><a href="#about"><i class="bx bx-envelope"></i> <span>About Us</span></a></li>
        <li><a href=""><i class="bx bxs-compass"></i> <span>Contact</span></a></li>
        <li><a href=""><i class="bx bx-log-out"></i> <span>Logout</span></a></li>


      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->