{% extends "root.html" %}
{% load static %}

{% block content %}
<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Hire the Top 10% of
        Educators</h1>
      <p>Pedagogue is an exclusive network of excellent teachers in Africa. Outstanding institutions hire Pedagogue teachers for their students performance improvement.</p>
      <br>
      <br>
      <br>
      <p><a class="btn btn-secondary" href="">Hire a Pedagogue</a></p>
    </div>
  </section><!-- End Hero -->
{% endblock %}